body {
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}
html {
   scroll-behavior: smooth;
}
body * {
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
a:link {
   color: rgba(1, 158, 158, 0.900);
 }
a:visited {
   color: black;
}
a:hover {
   color: #ff495c;
}
a:active {
   color: #3e4543;
}

p {
   font-weight: 500;
}

button { outline: none; }

.logo {
   border-radius: 100px; 
}

/* Navegación */
.navbar {
   background: #fff;
   position: fixed;
   top: 0;
   z-index: 4;
   width: 100%;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
   transition-duration: flex 500ms;
}
.brand, .menu {
   margin: 10px;
}
.menu .menu-list a {
   margin: 0px 10px;
}

/* progress bar */
.progress-container {
   position: relative;
   width: 100%;
   height: 8px;
   background: #ccc;
}
 .progress-bar {
   height: 8px;
   background: linear-gradient(90deg, rgba(49, 49, 49, 0.800) 0%, rgba(255,73,73,0.900) 76%, rgba(255,73,92,1) 100%);
   width: 0%;
   transition-duration: 300ms;
}
 
 /* Cabecera */
 .hero {
    background: url('../img/hero.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 35px auto 0 auto;
    height: 100vh;
    padding-left: 20px;
    padding-top: 20vh;
   }
   .hero .hero-text {
      background-color: rgba(1, 158, 158, 0.900);
      color: #fff;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      padding: 20px 25px 50px 25px;
      position: relative;
      z-index: 2;
   }
   .hero .hero-text h1 {
      font-size: xx-large;
   }
   .hero a {
      color: #fff;
      background-color: #ff495c;
      padding: 12px;
      border-radius: 6px;
      font-size: 18px;
      font-weight: 700;
   }
   .hero a:hover {
      background-color: #fa727f;
   }
   .hero a::selection {
      border: 2px solid #ff495c;
   }
   .hero p {
      line-height: 1.5em;
      margin-bottom: 20px;
   }

/* main container de las secciones */
.container {
   background: url('../img/Pattern-Randomized.svg') repeat;
   background-position: center;
   background-attachment: fixed;
   width: 100%;
}

/* Secciones */
.about, .services {
   width: 100%;
   margin: 0px auto;
}
.about h1, .services h1 {
   font-size: xx-large;
   padding: 70px 40px 10px 40px;
   margin-top: 0;
}

.about-text {
   width: 70%;
   margin: 0px auto 50px auto;
}

/* Servicios */
.service-row {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
}
.teaching-services, .dev-services {
   background-color: #fff;
   padding: 20px;
   margin: 0px auto 50px auto;
   border-width: thin;
   border-radius: 4px;
   box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.teaching-services:hover, .dev-services:hover {
   background-color: rgba(1, 158, 158, 0.900);
   color: #fff;
   transition-duration: 600ms;
}
.service-icon {
   text-align: center;
   font-size: 10em;
}
.services-text p {
   font-size: small;
}

/* Contacto */
.contact {
   background-color: #ff495c;
   color: #fff;
   padding: 20px;
   text-align: center;
}

.contact input {
   display: inline-block;
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem .75rem;
   font-size: 1rem;
   font-size: 17px;
   font-weight: 500;
   border: 1px solid gray;
   border-radius: 5px;
   margin-right: 0;
}
.contact button {
   display: inline-block;
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem .75rem;
   font-weight: 500;
   font-size: 17px;
   background-color: #ce2334;
   color: #fff;
   border: 2px solid #fff;
   border-radius: 5px;
   margin-left: 0;
}
.contact button:hover {
   background-color: rgba(1, 158, 158, 0.900);
   transition-duration: 300ms;
}

.rrss-icons a {
   text-align: center;
   font-size: 40px;
}
.rrss-icons a:link {
   color: #ce2334;
 }
.rrss-icons a:visited {
   color: black;
}
.rrss-icons a:hover {
   color: rgba(1, 158, 158, 0.900);
   transition-duration: 300ms;
}
.rrss-icons a:active {
   color: #3e4543;
}

/* Pie de página */
.footer {
   background: #3e4543;
   color: white;
   font-size: 14px;
   text-align: center;
   padding: 20px;
}

/* botón ir arriba */
#topbtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 30px;
   z-index: 50;
   font-size: 18px;
   border: none;
   outline: none;
   background-color: #ce2334;
   color: #fff;
   cursor: pointer;
   padding: 15px;
   border-radius: 4px;
   opacity: 0.8;
 }

/* contact divider */
.contact-divider {
   position: relative;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.contact-divider svg {
   position: relative;
   display: block;
   width: calc(100% + 1.3px);
   height: 59px;
}

.contact-divider .shape-fill {
   fill: #FF495C;
}


/* Media queries */

/* Extra small devices */
@media (max-width: 575px) {
   .brand, .menu {
      margin: 10px;
      text-align: center;
   }
   .menu .menu-list a {
      margin: 0px 8px;
   }
   .hero {
      padding-left: 0px;
   }
   .hero a {
      font-size: 12px;
   }
   .hero .hero-text {
      margin: auto auto;
      width: 80%;
      font-size: 80%;
      transition-duration: 500ms;
   }
   .hero .hero-text h1 {
      font-size: x-large;
   }

   .about, .services {
      width: 90%;
      font-size: 80%;
   }
   .about h1, .services h1 {
      font-size: large;
   }
   .teaching-services, .dev-services {
      width: 70%;
      transition-duration: 500ms;
   }
   .service-icon {
      font-size: 7em;
   }

   .footer {
      font-size: 10px;
   }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   .hero .hero-text {
      width: 70%;
      transition-duration: 500ms;
   }
   .about h1, .services h1 {
      font-size: x-large;
   }
   .teaching-services, .dev-services {
      width: 60%;
      transition-duration: 500ms;
   }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   .hero .hero-text {
      width: 60%;
      transition-duration: 500ms;
   }
   .about h1, .services h1 {
     font-size: xx-large;
   }
   .teaching-services, .dev-services {
      width: 45%;
      transition-duration: 500ms;
   }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .teaching-services, .dev-services {
      width: 40%;
      transition-duration: 500ms;
   }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }